<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chalojmd">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activitis.rider.VichelDetailActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".activitis.rider.DriverLicenseActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activitis.rider.PhotoOfDrivingLicense" />
        <activity android:name=".activitis.rider.RegistrationCompleteActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activitis.rider.OtpVerifyActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activitis.rider.LoginRegisterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activitis.rider.VerifyOtpActivity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_key" />

        <activity android:name=".activitis.UpdateUserActivity" />
        <activity
            android:name=".activitis.rider.RideDetailsActivity"
            android:label="Ride Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.rider.FavoriteActivity"
            android:label="Favorites"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity android:name=".activitis.ChooseLanguageActivity" />
        <activity
            android:name=".activitis.SettingActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.rider.MyRidesActivity"
            android:label="My Rides"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.NotificationActivity"
            android:label="Notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.WalletActivity"
            android:label="Wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.PaymentActivity"
            android:label="Payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_nav_toolbar" />
        <activity
            android:name=".activitis.GPSPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.AllowPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.VerifyOtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.PhoneNumberSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.PhoneLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.rider.DropSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.PickupSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".googlemap.GoogleAutoCompleteActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activitis.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_no_actionbar" />
        <activity
            android:name=".activitis.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitis.NavigationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>